In [1]:
# Activity 11
#Load the  required library
import sqlite3

In [20]:
#Provide the connection string to the pets database
conn= sqlite3.connect("/Users/rajponnam/Downloads/Data-Wrangling-with-Python-master/Lesson08/Activity11/petsdb")

In [25]:
#Function to check the connection status
def conn_open(conn):
    try:
     conn.execute("Select * from persons limit 3")
     return True

    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [29]:
# Check db connection status
print(conn_open(conn))

True

In [30]:
# Close db connection
conn.close()

In [35]:
# Check db connection
print(conn_open(conn))

Connection closed Cannot operate on a closed database.
False

In [36]:
# Provide db connection string
conn= sqlite3.connect("/Users/rajponnam/Downloads/Data-Wrangling-with-Python-master/Lesson08/Activity11/petsdb")

In [40]:
# Store coonection string in a varaible
connect = conn.cursor()

In [56]:
# SQL to display number of persons with a particular age
print("Age Number of persons")
for ppl, age in connect.execute("SELECT count(*), age FROM persons GROUP BY age"):
  print(age, ppl)

Age Number of persons
5 2
6 1
7 1
8 3
9 1
11 2
12 3
13 1
14 4
16 2
17 2
18 3
19 1
22 3
23 2
24 3
25 2
27 1
30 1
31 3
32 1
33 1
34 2
35 3
36 3
37 1
39 2
40 1
42 1
44 2
48 2
49 1
50 1
51 2
52 2
53 2
54 2
58 1
59 1
60 1
61 1
62 2
63 1
65 2
66 2
67 1
68 3
69 1
70 1
71 4
72 1
73 5
74 3

In [57]:
 # SQL to select the number of persons with the maximum age
for ppl, age in connect.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people {} came from {} age group".format(ppl, age))
    break

Highest number of people 5 came from 73 age group

In [64]:
# SQL to retrieve the number of records with no lastname
res = connect.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print(row)

(60,)

In [67]:
#  SQL to retrieve the numer of people with more than one pet
res = connect.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("{} People has more than one pets".format(row[0]))

43 People has more than one pets

In [71]:
# SQL to retrieve the numer of people with pets underwent treatment
res = connect.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print(row)

(36,)

In [76]:
# SQL to retrieve the numer of people with pets that underwent treatment and treatment type is not null
res = connect.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print(row)

(16,)

In [79]:
# SQL to retrieve the numer of people with pets from city East Port
res = connect.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print(row)

(49,)

In [82]:
# SQL to retrieve the numer of people with pets that underwent treatment from city East Port
res = connect.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print(row)

(11,)